/*!       General       */
/*   text   */
.animated_enter .char{
    margin-left: 0.5rem;
    opacity: .3;

    transition: all 0.2s calc(var(--char-index) * 0.02s);
}
.animated_enter .enter_anim{
    margin-left: 0;
    opacity: 1;
}


.main_row > .col{
    transition: flex .9s 0s ease-in-out;     /*felx ki*/  /*nem leht késleltetés bug(összecsúszás) miatt*/
}
.main_row > .col:hover{
    transition: flex .9s 0s ease-in-out;     /*felx be*/
}

.col_content{
    transition: height 0ms .3s, opacity .3s 0s;    /*content ki*/
}
.col:hover  .col_content{
    transition: height 0ms .3s, opacity .5s .7s;  /*content be*/
}

.col_img{
   transition: all 0.5s 0.5s;       /*img ki*/
}
.main_row > .col:hover .col_img {
    transition: all 0.5s 0.5s;      /*img be*/
}
