/*!         __Menu
    /**         _menu.html
        /*         col load
*/
        
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}


/*!         __Menu
    /**         _menu.html
        /*         col load
*/

.col:hover > .col_content {
    display: block;
    animation: fade-in 1s;
}
  
.col:not(:hover) .col_content.did-fade-in {
    display: block;
    animation: fade-out 1s;
}