/*!       General       */



.main_row > .col{
    transition: flex .9s 0s ease-in-out;     /*felx ki*/  /*nem leht késleltetés bug(összecsúszás) miatt*/
}
.main_row > .col:hover{
    transition: flex .9s 0s ease-in-out;     /*felx be*/
}

.col_content{
    transition: height 0ms .3s, opacity .3s 0s;    /*content ki*/
}
.col:hover  .col_content{
    transition: height 0ms .3s, opacity .5s .7s;  /*content be*/
}

.col_img{
   transition: all 0.5s 0.5s;       /*img ki*/
}
.main_row > .col:hover .col_img {
    transition: all 0.5s 0.5s;      /*img be*/
}


/*!       Menu       */

@keyframes up-down {
    0% {
        transform: translateY(-40%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes back-front {
    0% {
        scale: 90%;
        opacity: 0;
    }
    20%{
        scale: 90%;
        opacity: 0;
    }
    100% {
        scale: 100%;
        opacity: 1;
    }
}

.h1_load-in{
    animation: up-down 1s ease;
}
.main_load-in{
    animation: back-front 1.5s ease;
}

/*!       Emberek       */
@keyframes left-right {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    20% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hr_load{
    width: 80%;
}

header > h1{
    animation: up-down 1s ease;
}
nav > div{
    animation: left-right 1.5s ease;
}
