body, html{
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;

    margin: 0;
    padding-left: 0;
    background-color: rgb(255, 237, 224);
}

/*     Scrollbar     */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgba(15, 15, 15, 0.8);
    border: 3px solid rgb(255, 237, 224);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-image: linear-gradient(45deg, rgb(146, 97, 56), rgb(248, 220, 200));
}