h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Caveat', cursive;
}
/*Main cols */
.row{
    flex-basis: auto;
    height: 50vh;
}
.col{
    margin: auto;
    height: 50vh;
    background-color: rgb(229,210,196);
    transition: all 0.5s ease-in-out;

    border: 1px solid black;
}
.col:hover{
    flex-basis: 95%;
    background-color: rgb(189,148,120);
}
.col_content{
    display: none;
    transition: all 0.5s ease-in-out;
}
.col:hover .col_content{
    display:contents;
}