/*!       Header       */
header h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    color: rgb(75, 46, 22);
}
/*!       Main       */
main{
    width: 100%;
    float: left;
}
@media (min-width: 992px){
    main{
        width: 85%;
        float: left;
    }
}
.main{
    width: 90%;
    margin-inline: auto;
}
main h2, h3{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: rgb(75, 46, 22);
}
main h3{
    text-indent: .5rem;
}

.main > p{
    text-indent: .5rem;
    margin-left: 1rem;
    text-align: justify;
}
i{
    color: #c09018;
}
main .row{
    width: 100%;
    margin-left: auto;
    margin-inline: 0;
}
main .row .col{
    color: white;
    min-height: 20rem;
    margin-bottom: 1rem;
}
.card{
  background-color: #6f4e3d;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, .2);
}
.card .img{
  width: 100%;
  height: 14rem;
  border-radius: 20px;
}
.card h3, .card p{
  color: white;
  text-align: center;
}
.card p{
  font-family: 'Barlow', sans-serif;
}

/*!       Footer       */
footer{
    float: left;
}


.fix_bg{
    padding: 2rem;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .1);
}