/*!       Header       */
header h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    color: rgb(75, 46, 22);
}
/*!       Main       */
main{
    width: 100%;
    float: left;
}
@media (min-width: 992px){
    main{
        width: 85%;
        float: left;
    }
}
.main{
    width: 90%;
    margin-inline: auto;
}
main h2, h3{
    font-family: 'Kalam', cursive;
    font-weight: bold;
}
main h3{
    text-indent: .5rem;
}

main p{
    text-indent: .5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}
i{
    color: #c09018;
}
main .row{
    width: 100%;
    margin-left: auto;
    margin-inline: 0;
    margin-bottom: 2rem;
}
main .row .col{
    color: white;
    min-height: 20rem;
    transition: box-shadow .3s;
    border: 2px solid rgb(255, 237, 224);
}
main .row .col:hover{
    box-shadow: inset 0 0 1000px 1000px rgb(0, 0, 0, .4);
}
main .row .col:nth-child(1){
    background: url(img/pusztai\ macska.jpeg) no-repeat center center/cover;
}
main .row .col:nth-child(2){
    background: url(img/afrikai\ aranymacska.jpg) no-repeat center center/cover;
}
main .row .col:nth-child(3){
    background: url(img/Acinonyx\ aicha.jpg) no-repeat center center/cover;
}
main .row .col:nth-child(4){
    background: url(img/cibetmacskafélék.jpg) no-repeat center center/cover;
}

/*!       Footer       */
footer{
    float: left;
}