    /*Main cols */
.main_row{
    width: 100%;
    margin-inline: 0;
    flex-basis: auto;
}
.main_row > .col{
    margin: 5px;
    padding: 0;
    height: 79vh;
    /*background-color: rgb(229,210,196);*/

    transition: flex 1s ease-in-out;
}
.main_row > .col:hover{
    flex-basis: 80%;
}

.col1{
    background: url(img/dog1.jpg) no-repeat center center/cover;}
.col2{
    background: url(img/dog2.jpg) no-repeat center center/cover;}
.col3{
    background: url(img/cat.jpg) no-repeat center center/cover;}

    /*col contents*/
.col_content{
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/forest.jpg) no-repeat center center/cover;

    overflow: hidden;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: height 0ms 500ms, opacity 1s 0ms;
}
.col_img{
    /*
    col img fix (nem tudom a végső designal hoyg fog működni)
    lehet position: absolute; kell majd de ahoz kell végső designe
    Még kell finomítani a megjelenést
    height: 0;
    opacity: 0;
    transition: all 0.5s 0.7s;

.col:hover .col_img {
    height: 50%;
    opacity: 1;
}
    */
   position: absolute;
   height: 50%;
}

.col:hover  .col_content{
    height: 100%;
    opacity: 1;
    transition: height 0ms 350ms, opacity 1s 0ms;
}