    /*H1 */
.experiment-title {
    line-height: 15vh;
    width: 100%;

    outline: none;
    font-size: 6rem;
    color: rgb(75, 46, 22);
    text-align: center;
    font-family: 'Caveat', cursive;
}
.gold{
    color: #c09018;
}
.crown{
    cursor: url("../General/img/crown_32x32.png"), auto;
    text-decoration-thickness: .5rem;
}
@media (min-width: 768px){
    .experiment-title {
        line-height: 18vh;
        font-size: 7.5rem;
    }
}

    /*Main cols */
.main_row{
    width: 100%;
    margin-inline: 0;
    padding: 0.7vw;
    display: flex;
    flex-wrap: wrap;
}
.main_row > .col{
    border: 2px solid rgb(255, 237, 224);
    padding: 0;
    height: 78.5vh;
    flex-grow: 1;
    /*background-color: rgb(229,210,196);*/

    cursor: pointer;
}
.main_row > .col:hover{
    flex-basis: 80%;
}

.main_row > .col:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    background: url(../Emberek/Ficli/img/kapi4.jpg) no-repeat center center/cover;
}
.main_row > .col:nth-child(2){
    background: url(../Emberek/Patrik/img/Daisy3.jpg) no-repeat center center/cover;}
.main_row > .col:nth-child(3){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background: url(img/cat.jpg) no-repeat center center/cover;
}

    /*col contents*/
.col_content{
    overflow: hidden;
    height: 0;
    width: 100%;
    opacity: 0;
}
.col:hover  .col_content{
    height: 100%;
    opacity: 1;
}

.col_img{
   position: absolute;
   height: 0;
   opacity: 0;
}
.main_row > .col:hover .col_img {
    height: 50%;
    opacity: 1;
}

.in_row{
    width: 100%;
    height: 100%;
    margin: 0;
}


.main_row > .col:nth-child(1) .col_content{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.main_row > .col:nth-child(3) .col_content{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.text_con{
    width: 75%;
    margin-inline: auto;
}
.main_row > .col h2{
    margin: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    text-align: center;
}
.main_row > .col p{

    color: white;
    border-radius: 3px;
    text-indent: 1rem;
}

    /*Main col imgs */
/*Ficli*/
.main_row > .col:nth-child(1) .in_col:nth-child(1){
    background: url(../Emberek/Ficli/img/kapi3.jpg) no-repeat center center/cover;
}
.main_row > .col:nth-child(1) .in_col:nth-child(2){
    background: url(../Emberek/Ficli/img/kapi5.jpg) no-repeat center center/cover;
}
/*Patrik*/
.main_row > .col:nth-child(2) .in_col:nth-child(1){
    background: url(../Emberek/Patrik/img/Daisy1.jpg) no-repeat center center/cover;
}
.main_row > .col:nth-child(2) .in_col:nth-child(2){
    background: url(../Emberek/Patrik/img/Daisy2.jpg) no-repeat center center/cover;
}
/*Endre*/
.main_row > .col:nth-child(3) .in_col:nth-child(1){
    background: url(img/dog1.jpg) no-repeat center center/cover;
}
.main_row > .col:nth-child(3) .in_col:nth-child(2){
    background: url(img/dog1.jpg) no-repeat center center/cover;
}
/*all*/
.main_row > .col .in_col:nth-child(2){
    box-shadow: inset 0 0 1000px 1000px rgb(0, 0, 0, .6);
    color: white;
}

@media only screen and (max-width: 992px)/*Bootstrap "lg" */ {
    .main_row{
        padding-inline: 0;
    }
    .main_row > .col{
        width: 100%;
        height: 200%;
        flex-basis: 100%;
        border-radius: 30px;
        border-left: none;
        border-right: none;
    }
    .col_content{
        height: 100%;
        opacity: 1;
    }
    .main_row > .col .in_col:nth-child(1){
        height: 30rem;
    }

    .main_row > .col .col_content{
        border-radius: 30px;
    }
    .text_con{
        width: 100%;
    }
}