    /*Main cols */
.main_row{
    width: 100%;
    margin-inline: 0;
    padding: 0.7vw;
    display: flex;
    flex-wrap: wrap;
}
.main_row > .col{
    margin: 2px;
    padding: 0;
    height: 78.5vh;
    flex-grow: 1;
    /*background-color: rgb(229,210,196);*/
}
.main_row > .col:hover{
    flex-basis: 80%;
}

.main_row > .col:nth-child(1){
    background: url(img/dog1.jpg) no-repeat center center/cover;}
.main_row > .col:nth-child(2){
    background: url(img/dog2.jpg) no-repeat center center/cover;}
.main_row > .col:nth-child(3){
    background: url(img/cat.jpg) no-repeat center center/cover;}

    /*col contents*/
.col_content{
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/forest.jpg) no-repeat center center/cover;

    overflow: hidden;
    height: 0;
    width: 100%;
    opacity: 0;
}
.col:hover  .col_content{
    height: 100%;
    opacity: 1;
}

.col_img{
   position: absolute;
   height: 0;
   opacity: 0;
}
.main_row > .col:hover .col_img {
    height: 50%;
    opacity: 1;
}

.in_row{
    width: 100%;
    height: 100%;
    margin: 0;
}

.col_content:nth-child(1) .in_col:nth-child(1){
    background-image: url(https://pbs.twimg.com/media/EXwjUklWsAEoks8.jpg);
    background-size: cover;
    background-position: center;
}
.col_content:nth-child(1) .in_col:nth-child(2){
    background-image: url(https://www.meme-arsenal.com/memes/942ff2a64d75c19f2f1a92bc849a64c6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}